{% extends "base.html" %}
<html>
    <head>
     
    </head>

    
    {% block content %}
        <body style="height: 100%;">
            <div class="container text-center">
                {% if  object_list %}
                <h1> Reparaciones sin ti </h1> 
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Examen de {{partes_list.0.Alum.Nombre }}</th>           
                           
                        </tr>
                        {% endif %}
                        {% for c in partes_list %}
                        <tr>
                            
                            {% load static %}
                            <th>{{ c.Part.Nombre }}</th>
                            <th>{{ c.Realizadas }}</th>
                            <form action="#" method="POST">
                            {% csrf_token %}
                            
                            </form>
                        </tr>
                        {% empty %}
                        <div class="container text-center">
                           
                            <h2> No existen reparaciones sin ti, que crack! </h2>
                        </div>
                        {% endfor %}
                    </thead>
                    </table>
                    </div>
            </div>
          </body>
      {% endblock %}
</html>